.body{
	background-color: #E5E4E2;
	font-size: 40px;
}


.allcontain{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	background-color: #191919;
	
}
.header .container{
	padding: 0px;
}


img {
	width: 100%;
}

.logreg{
	list-style-type: none;
	display: inline-block;

	font-family: 'BebasNeue Regular';
	font-size: 11pt;
	color: #E7E7E7;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-left: 23%;
}
.logreg>li{
	float: left;

}
.logreg>li>a{
	text-decoration: none;
	color: #E7E7E7;
	padding-right: 6px;
}
.logreg>li>a:hover{
	color:#C59E47;
}
.logreg .register{
	border-left: 1px solid #E7E7E7;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}


@media screen and (max-width: 825px) {
	.socialicon{
		padding-left: 5%;
	}
	.givusacall{
		padding-left: 15%;
	}
}
@media screen and (max-width: 555px){
	.givusacall{
		padding-left: 10%;
	}
	.logreg{
		padding-left: 13%;
	}
}
@media screen and (max-width: 440px){
	.givusacall{
		padding-left: 3%;
		font-size: 11px;
	}
	.logreg{
		padding-left: 8%;
		font-size: 11px;
	}
	.socialicon>li{
		font-size: 11px;
	}
	.socialicon{
		padding-left: 0px;
	}
}

/*----------------------Logo and Navigation Bar--------------------*/

.logo{
	position: absolute;
	float: left;
	z-index: 999;
	width:124px;
	height: 124px;
	padding-top: 9px;

}
.topnav{
	background: none;
}
.topnavbar .container{
	margin-left: 107px !important;
}
.toggle-costume{
	float: left;
}

#navbarontop{
	padding-left: 312px;
	padding-top: 17px;
	height:69px; 
}

#navbarontop > li > a {
	font-family: 'BebasNeue Regular';
	font-size: 17px;
	color: #313943;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px!important;
	margin-left: 34px;
	border-bottom: 2px solid rgba(0,0,0,.0);

}
#navbarontop > li >a:hover{
	background-color: none!important;
	background: none!important;
	border-bottom: 2px solid #C59E47;
}


#navbarontop>button{
	background: none;
	background-color: none;
	border: 2px solid #C59E47;
	font-family: 'BebasNeue Regular';
	margin-left: 60px;
	font-size: 16.99px;
	color: #313943;
	padding-left: 19px;
	padding-right: 19px;
	padding-top: -2px;
	padding-bottom:-2px;
}
#navbarontop>button:hover{
	background-color: #C59E47;
	color: #fff;
}
.dropdowncostume{
	margin-left: 0px;
}
.navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
	background-color: #000;
}
.navbar-default .toggle-costume.icon-bar {
	background-color: #fff;
}
.navbar-default .toggle-costume:hover .icon-bar {
	background-color: #fff;
}

#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
	background-color: none!important;
	border-color: #C59E47;
}
#navbarontop a:focus {
	outline: none;
	border-bottom: 2px solid #C59E47; 
}

.dropdown-menu {
	font-size: 1.5rem;
}
.dropdown-menu>li>a{
	font-size: 1.5rem;
}




.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	font-family: 'BebasNeue Regular';
	font-size: 1.5rem;
	
	color: #000;
	background-color: rgba(255,255,255,.5);
	text-align: center;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #fff;
}
.dropdown.open .dropdown-menu {
	max-height: 200px;
	opacity: 1;

}



/*----------------- Navbar On Top Media screen -------------*/
@media screen and (min-width: 320px) and (max-width: 480px){
	.dropdowncostume{
		padding-left: 0px;
		margin-left: 0px;
	}
	.topnavbar .container{
		margin-left: 10px !important;
	}
	.logo{
		position: absolute;
		top:0px;
		padding-top: 9px;
		-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
		-moz-transform: scale(0.5); /* FF3.5+ */
		-ms-transform: scale(0.5); /* IE9 */
		-o-transform: scale(0.5); /* Opera 10.5+ */
		transform: scale(0.5);
	}
	.toggle-costume{
		float: right;
	}
	#navbarontop{
		padding-left: 0px;
		padding-top: 26px; 
		height: 250px;
	}
	#navbarontop>li>a{
		margin-left: 0px;
		padding-left: 50px;
		font-size: 13pt;
		margin-bottom: 10px;

	}
	#navbarontop>button{
		margin-left:50px;

	}
	.navbar-default .navbar-nav .open .dropdowncostume > li > a {
		text-align: left;
		margin-left: 40px;
	}
	#upmenu{
		margin-bottom: 15px;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px){
	.topnavbar .container{
		margin-left: 10px !important;
	}
	.toggle-costume{
		float: right;
	}
	#navbarontop>button{
		margin-left:50px;

	}
	.logo{
		position: absolute;
		top:10px;
		padding-top: 9px;
		-webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
		-moz-transform: scale(0.7); /* FF3.5+ */
		-ms-transform: scale(0.7); /* IE9 */
		-o-transform: scale(0.7); /* Opera 10.5+ */
		transform: scale(0.7);
	}
	#navbarontop{
		padding-left: 0px;
		padding-top: 40px; 
		height: 250px;
	}
	#navbarontop>li>a{
		margin-left: 0px;
		padding-left: 50px;
		font-size: 13pt;
		margin-bottom: 10px;

	}
	.navbar-default .navbar-nav .open .dropdowncostume > li > a {
		text-align: left;
		margin-left: 40px;
	}
	#upmenu{
		margin-bottom: 15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.topnavbar .container {
		margin-left: 50px !important;
	}
	#navbarontop{
		padding-left: 25%;
	}
	#navbarontop > li > a {
		padding-bottom: 6px;
		margin-bottom: 22px;
		padding-left: 0px;
		padding-right: 0px!important;
		margin-left: 20px;

	}
}



/* ------------------------ End Navigation bar On Top -----------------*/
/*------------------------- Start home page sliding image --------------------*/


.carousel-caption{
	z-index: 999;
}

.carousel-caption>h1 {
	font-size: 4rem;
	color: #000000;
	text-align: left;
}

.carousel-caption>h2{
	text-align: left;
	font-family: 'OpenSans Semibold';
	font-size: 1.5rem;
	text-shadow: 0 0px 0px rgba(0, 0, 0, .0);

}

.carousel-caption>h2>p{
	font-family: :'OpenSans Regular';
	font-size: 15.88pt;
}
.carousel-caption {
	top: 20%;
	left:13%;
	right:auto;
	bottom: auto;
}

@media screen and (min-width: 320px) and (max-width:767px){
	.carousel-caption>h2{
		font-size: 13pt;
	}
	.carousel-caption {
		top: 15%;

	}

	.carousel-caption>p{
		font-size: 10pt;
	}	
}



/* ______________CSS for search box_________________ */


.box{
	margin-top: 3px;
	margin-bottom: 3px;
}


.cf:before, .cf:after{
	content:"";
	display:table;
}

.cf:after{
	clear:both;
}

.cf{
	zoom:2;
}    

/* Form wrapper styling */





.search-wrapper {

	height: 20px;
	width: 220px;
	margin: 45px auto 50px auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Form text input */

.search-wrapper input {
	width: 138px;
	height: 30px;

	
	padding: 10px 5px;
	float: left;
	font: bold 17px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #EEE;
	border-radius: 3px 0 0 3px;
}

.search-wrapper input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.search-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}    

/* Form submit button */
.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 20px;
	width: 72px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: white;
	text-transform: uppercase;
	background: #D83C3C;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover{     
	background: #e54040;
}   

.search-wrapper button:active,
.search-wrapper button:focus{   
	background: #c42f2f;
	outline: 0;   
}


.search-wrapper button:hover:before{
	border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
	border-right-color: #c42f2f;
}      

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
	border: 0;
	padding: 0;
}    


body{
	background-color: #E5E4E2;
}


/*body {
	background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
	width: 800px;
	max-width: 96%;
	margin: 0 auto;
	}*/
	a {
		color: #69C;
		text-decoration: none;
	}
	a:hover {
		color: #F60;
	}
	h1 {
		font: 1.7em;
		line-height: 110%;
		color: #000;
	}
	p {
		margin: 0 0 20px;
	}


	input {
		outline: none;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
		line-height: 20px;


	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}


	input[type=search] {
		background: #ededed url("../images/search-icon.png") no-repeat 9px center;
		border: solid 1px #ccc;
		padding: 3.5px 10px 3.5px 32px;
		width: 270px;
		font-size: 15px;
		-webkit-border-radius: 10em;
		-moz-border-radius: 10em;
		border-radius: 10em;

		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}

	input[type=search]:focus {
		width: 300px;
		background-color: #fff;
		border-color: #66CC75;

		-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(109,207,246,.5);
	}


	input:-moz-placeholder {
		color: #999;
	}
	input::-webkit-input-placeholder {
		color: #999;
	}

	/* Demo 2 */
	#demo-2 input[type=search] {
		width: 15px;
		padding-left: 10px;
		color: transparent;
		cursor: pointer;
	}
	#demo-2 input[type=search]:hover {
		background-color: #fff;
	}
	#demo-2 input[type=search]:focus {
		width: 130px;
		padding-left: 32px;
		color: #000;
		background-color: #fff;
		cursor: auto;
	}
	#demo-2 input:-moz-placeholder {
		color: transparent;
	}
	#demo-2 input::-webkit-input-placeholder {
		color: transparent;
	}





	/*   ____________________________ For footer_____________________________  */




	.footer_spacing {
		height: 10px;
		width: 100%;
		background-color: #e5e4e2;
		text-align: center;
		box-sizing: border-box;
		padding: 10px 0px;
	}
	/* STYLES SPECIFIC TO FOOTER  */
	.footer {
		width: 100%;
		position: relative;
		height: auto;

		background-color: #070617; 

	}

	.footer .col {
		width: 190px;
		height: auto;
		float: left;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0px 20px 20px 20px;
	}
	.footer .col h1 {
		margin: 0;
		padding: 0;
		font-family: inherit;
		font-size: 12px;
		line-height: 17px;
		padding: 20px 0px 5px 0px;
		color: rgba(255,255,255,0.2);
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.250em;
	}
	.footer .col ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.footer .col ul li {
		color: #999999;
		font-size: 14px;
		font-family: inherit;
		font-weight: bold;
		padding: 5px 0px 5px 0px;
		cursor: pointer;
		transition: .2s;
		-webkit-transition: .2s;
		-moz-transition: .2s;
	}
	.social ul li {
		display: inline-block;
		padding-right: 5px !important;
	}

	.footer .col ul li:hover {
		color: #ffffff;
		transition: .1s;
		-webkit-transition: .1s;
		-moz-transition: .1s;
	}
	.clearfix {
		clear: both;
	}
	@media only screen and (min-width: 1280px) {
		.contain {
			width: 1200px;
			margin: 0 auto;
		}
	}
	@media only screen and (max-width: 1139px) {
		.contain .social {
			width: 1000px;
			display: block;
		}
		.social h1 {
			margin: 0px;
		}
	}
	@media only screen and (max-width: 950px) {
		.footer .col {
			width: 33%;
		}
		.footer .col h1 {
			font-size: 14px;
		}
		.footer .col ul li {
			font-size: 13px;
		}
	}
	@media only screen and (max-width: 500px) {
		.footer .col {
			width: 50%;
		}
		.footer .col h1 {
			font-size: 14px;
		}
		.footer .col ul li {
			font-size: 13px;
		}
	}
	@media only screen and (max-width: 340px) {
		.footer .col {
			width: 100%;
		}
	}




	.container {
		position: relative; /*убрать, если надо растянуть футер на всю ширину экрана*/
		min-height: 100%;
		width: 80%;
		margin: 0 auto;
		background: lightgrey; /* визуальный контроль */
		
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: grey; /* визуальный контроль */

	}



	/*_____________Feature_section ______________ */



	.wrapper {
		width: 40em;
		margin: 2em auto;
		background: #fff;
		padding: 4em;
		border-radius: 8px;
		border: 1px solid #f5f5f5;
		justify-content: center;
		flex-wrap: wrap;

	}
	.wrapper > :first-child {
		margin-top: 0;
	}
	.wrapper > :last-child {
		margin-bottom: 0;
	}

	.desc {
		margin: 4em auto;
		font-size: 1.2em;
	}


	h1 {
		margin: 0;
	}

	footer {
		margin: 2em auto;
		text-align: center;
		font-size: .9em;
	}

	a {
		text-decoration: none;
		color: #2196F3;
	}
	a:hover {
		text-decoration: underline;
	}

	.emoticon-face {
		background: #FFEB3B;
		border-radius: 100%;
		width: 1.7em;
		height: 1.7em;
		transform: rotate(90deg);
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		margin: -.4em .2em 0;
		text-align: center;
		border: 1px solid #FDD835;
		padding-left: .1em;
		-webkit-font-smoothing: antialiased;


	}
	.emoticon-face--no-rotation {
		transform: rotate(0deg);
	}

	code {
		padding: .2em .3em;
		background: #f5f5f5;
		margin: 0 .2em;
		border-radius: 4px;
		font-size: .95em;
		font-family: 'Source Code Pro';
	}

	.tac {
		text-align: center;
	}

	.wrapper {
		/*width: 68em; */
		width:97%;
	}


	.product-grid {

		width: 100%; 
		margin: 2rem auto;
	}

	.product-grid.product-grid--flexbox .product-grid__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.product-grid.product-grid--flexbox .product-grid__title {
		height: auto;
	}
	.product-grid.product-grid--flexbox .product-grid__title:after {
		display: none;
	}
	.product-grid__wrapper {
		margin-left: -1rem;
		margin-right: -1rem;
	}

/*

.product-grid__product-wrapper {
  padding: 1rem;
  float: center;
  width: 20%;
}
*/


@media (max-width: 2560px) {
	.product-grid__product-wrapper {
		padding: 1rem;
		float: center;
		width: 20%;
	}
	.product-grid__product-wrapper_featured {
		padding: 1rem;
		float: center;
		width: 25%;
	}


}

@media (max-width: 825px)  {
	.product-grid__product-wrapper {
		padding: 1rem;
		float: center;
		width: 33.333%;
	}
	.product-grid__product-wrapper_featured {
		padding: 1rem;
		float: center;
		width: 50%;
	}
}

@media (max-width: 440px) {
	.product-grid__product-wrapper {
		padding: 1rem;
		float: center;
		width: 50%;
	}
	.product-grid__product-wrapper_featured {
		padding: 1rem;
		float: center;
		width: 100%;
	}
}



.product-grid__product {
	padding: 1rem;
	position: relative;
	cursor: pointer;
	background: #fff;

	border-radius: 4px;
}
.product-grid__product:hover {
	box-shadow: 0px 0px 0px 1px #eee;
	z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
	display: block;
}
.product-grid__img-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 150px;
}
.product-grid__img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.product-grid__title {
	margin-top: .875rem;
	display: block;
	font-size: 1.125em;
	color: #222;
	height: 3em;
	overflow: hidden;
	position: relative;
}
.product-grid__title:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.4em;
	height: 1.5em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}
.product-grid__price {
	color: #E91E63;
	font-weight: bold;
	letter-spacing: .4px;
}
.product-grid__extend-wrapper {
	position: relative;
}
.product-grid__extend {
	display: none;
	position: absolute;
	padding: 0 1rem 1rem 1rem;
	margin: .4375rem -1rem 0;
	box-shadow: 0px 0px 0px 1px #eee;
	background: #fff;
	border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
	content: "";
	height: .875rem;
	width: 100%;
	position: absolute;
	top: -.4375rem;
	left: 0;
	background: #fff;
}
.product-grid__description {
	font-size: .875em;
	margin-top: .4375rem;
	margin-bottom: 0;
}
.product-grid__btn {
	display: inline-block;
	font-size: .875em;
	color: #777;
	background: #eee;
	padding: .5em .625em;
	margin-top: .875rem;
	margin-right: .625rem;
	cursor: pointer;
	border-radius: 4px;
}
.product-grid__btn i.fa {
	margin-right: .3125rem;
}
.product-grid__add-to-cart {
	color: #fff;
	background: #E91E63;
}
.product-grid__add-to-cart:hover {
	background: #ee4c83;
}
.product-grid__view {
	color: #777;
	background: #eee;
}
.product-grid__view:hover {
	background: white;
}




/* For sory by drop down */

.select-style {
	border: 1px solid #ccc;
	width: 160px;
	border-radius: 3px;
	overflow: hidden;
	font-size: 13px;
}

.select-style select {
	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	background-color: #f9f9f9;
	-webkit-appearance: none;
}

.select-style select:focus {
	outline: none;
}



/* CSS for button */


.button {
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	height: 30px;
	min-width: 100px;
	background: #348AA7;
	border: none;
	outline: none;
	color: white;
	font-family: inherit;
	font-weight: 400;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: 0 5px 0px #348aa7;
	border-bottom: 2px solid #30809b;
}
.button:hover {
	background: #2e7a94;
	box-shadow: 0 4px 1px #2e7a94;
	border-bottom: 2px solid #2a7088;
	transition: all 0.1s ease-in;
}
.button:active {
	transform: translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}



/* For Filter Section */


.collapsed-icon-toggle.collapsed .on-closed {
	display: initial;
}
.collapsed-icon-toggle.collapsed .on-opened {
	display: none;
}
.collapsed-icon-toggle .on-closed {
	display: none;
}
.collapsed-icon-toggle .on-opened {
	display: initial;
}
.scroll-v-250px {
	max-height: 250px;
	overflow-y: scroll;
}
.padding-v-xs {
	padding-top: 2px;
	padding-bottom: 2px;
}
.btn.ico span.icon {
	opacity: 0;
}
.btn.ico.active span.icon {
	opacity: 3;
}





/* ______________________________________ For products carousel



*/


@media (min-width: 768px) {

	.product-grid__img-wrapper_featured {
		width: 500%;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 150px;
	}
	/* show 3 items */
	.carousel-inner_product .active,
	.carousel-inner_product .active + .carousel-item,
	.carousel-inner_product .active + .carousel-item + .carousel-item {
		display: block;
	}

.carousel-control-prev .glyphicon {
    left: 0;
    margin-left: 0;
    color: #c0b5b5;

}
.carousel-control-next .glyphicon {
    right: 0;
    margin-right: -10px; !important
        

}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -75px;

}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-left: -75px;

}



